#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.write__article {
  display: flex;
  flex-direction: column;
}

.textInput {
  height: 300px;
}

.flowBox {
  border: 1px solid black;
  padding: 3rem;
}

